
.section1-cont{
   width: 100%;
    display :inline-flex;
    flex-direction: row;
    background-color: #364d79;
    height: 40%;
}
.section1-content{
    margin-top: 50%;
    text-align: left;
    color: white !important;
    margin-left: 5%;
    width: 45%;
}
.section1-img{
    margin-top: 50%;
    margin-left: 10%;
    margin-right: 0%;
    margin-bottom: 5%;

}
.section1-buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10%;


}
p{
    font-size: 8px;
}
.btn{
    width: 45%;
    height: 20px !important;
    font-size: 6px !important;
    padding-left: 2% !important;
}
.h2{
    color:white !important;
    margin: 0px !important;

}
@media screen and (max-width: 400px)  {
    .btn {
        font-size: 5px !important;

    }
  }